* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
}
.heading{
  position: sticky;
}
.section--introdu {
  z-index: 2;
  background-color: #2c3e50;
  text-align: center;
  padding: 20px 0 20px;
  color: white;
  margin-bottom: 20px;
  overflow: hidden;
  padding-top: 30px;
  position: fixed;
  width: 100%;
}

.section--introdu h1 {
  margin-bottom: 30px;
}

.div--banne {
  position: relative;
  justify-content: center;
}

.div--banner img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  /* margin-top: 30px; */
}
.Book1,.Book3{
  position: relative;
}
.div--baner{
  position: absolute;
  width: max-content;
  background-color: #ff0000;
  color: white;
  top: 5px;
  left: 5px;
  padding: 5px;
  font-size: 10px;
  z-index: 1;
}
.div--textBanner {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 35%;
  left: 15%;
  background-color: rgba(50, 49, 47, 0.8);
  text-align: left;
  padding: 20px;
  width: 70%;
  line-height: 50px;
}

.nav--menu a {
  margin: 0 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.25s linear;
}

.nav--menu a:hover {
  text-decoration: underline;
}

.section--content {
  justify-items: center;
}

.boxer {
  border: 1px solid #cccccc;
  margin-top: 20px;
  padding: 30px 20px;
  width: 70%;
  background-color: white;
}
.boxer h2{
  margin-bottom: 20px;
}
.section_div--Booklist{
  text-align: center;
}
.section_div--Booklist h2{
  text-align: left;
}
.Box{
  width: 20%;
  height: 260px;
  display: inline-block;
  margin-left: 30px;
  border: 1px solid rgba(108, 103, 103,0.5);
  background-color: #fafafa;
}
.Box img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.div--image img{
    transition: all 0.2s linear;
}
.div--content h3{
  margin-top: 2px;
}
.div--content span{
  display: block;
}
.div--content h3,.div--content span{
  transition: all 0.2s linear;
}
.Box:hover .div--content h3,
.Box:hover .div--content span{
  transform: translateY(10px);
}
.Box:hover .div--image img {
  scale:calc(1.1);
}
.table--bookShell{
  border-collapse: collapse;
  width: 100%;
}
.table--bookShell tr th {
  background-color: #ecf0f1;
}
.table--bookShell th, 
.table--bookShell td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  transition: all 0.25s linear;
}
.table--bookShell tr:hover td{
  background-color: rgb(194, 236, 222);
}
.section_div--BorrowBook input{
  width: 100%;
  margin-top: 10px;
  height: 40px;
  padding: 0 10px;
}
.section_div--BorrowBook button{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  height: 40px;
  font-weight: bold;
  background-color: #2c3e50;
  color: white;
  transition: all 0.5s ease-out;
  border-style: none;
  font-size: 17px;
}
.section_div--BorrowBook button:hover{
  transform: translateY(-4px);
  background-color: rgb(119, 236, 197);
}
footer{
  background-color: #2c3e50;
  color: white;
  padding: 30px;
  text-align: center;
  margin-top: 30px;
}
