* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header h1 {
    margin: 0;
    color: #fff;
    padding-bottom: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 15px;
}

.banner {
    height: 220px;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 20px 40px;
    text-align: left;
    width: 1000px;
}

.container {
    width: 1000px;
    margin: 30px auto;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.box h3 {
    color: #2C3E50
}

.box th {
    background-color: #ECF0F1;
    border: 1px solid #000;
}

.books {
    background-color: white;
    font-size: 16px;
    width: 220px;
    padding: 15px;
    margin: 0 15px 0 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.book {
    text-align: center;
    transition: 0.3s;
}

.book img {
    width: 120px;
    height: 160px;
}

.book:hover {
    transform: scale(1.1);
    z-index: 10;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #243b55;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    transition: 0.3s;
    opacity: 0.7;
    transform: translateY(-2px);
}

footer {
    background: #243b55;
    color: white;
    text-align: center;
    padding: 30px; 
}
